<h1>Request Details</h1>
<app-menu></app-menu>
<table>
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="req.id" readonly></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input [(ngModel)]="req.description" readonly></td>
        </tr>
        <tr>
            <td>Justification</td>
            <td><input [(ngModel)]="req.justification" readonly></td>
        </tr>
        <tr>
            <td>Reason for Rejection</td>
            <td><input [(ngModel)]="req.rejectionReason" readonly></td>
        </tr>
        <tr>
            <td>Delivery Mode</td>
            <td><input [(ngModel)]="req.deliveryMode" readonly></td>
        </tr>       
        <tr>
            <td>Status</td>
            <td><input [(ngModel)]="req.status" readonly ></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input [(ngModel)]="req.total" readonly ></td>
        </tr>
        <tr>
            <td>UserId</td>
            <td><input [(ngModel)]="req.userId" readonly></td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Delete</button>
</div>

