<div id="component">
    <app-menu></app-menu>
    <a routerLink="/use/create">Create New User</a>
    <input [(ngModel)]="substr" placeholder="search">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th><button (click)="sortUser('id')" class="btn btn-link">Id</button></th>
                <th><button (click)="sortUser('username')" class="btn btn-link">Username</button></th>
                <th><button (click)="sortUser('password')" class="btn btn-link">Password</button></th>
                <th><button (click)="sortUser('firstname')" class="btn btn-link">Firstname</button></th>
                <th><button (click)="sortUser('lastname')" class="btn btn-link">Lastname</button></th>
                <th><button (click)="sortUser('phone')" class="btn btn-link">Phone</button></th>
                <th><button (click)="sortUser('email')" class="btn btn-link">Email</button></th>
                <th><button (click)="sortUser('reviewer')" class="btn btn-link">Reviewer?</button></th>
                <th><button (click)="sortUser('admin')" class="btn btn-link">Admin?</button></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of uses | searchUser: substr | sort:sortCol:sortAsc">
                <td>{{u.id}}</td>
                <td>{{u.username}}</td>
                <td>{{u.password}}</td>
                <td>{{u.firstname}}</td>
                <td>{{u.lastname}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.email}}</td>
                <td>{{u.isReviewer | bool: locale}}</td>
                <td>{{u.isAdmin | bool: locale}}</td>
                <td>
                    <a routerLink="/use/detail/{{u.id}}">Details</a> |
                    <a routerLink="/use/edit/{{u.id}}">Edit</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>
