<h1>Edit Request</h1>
<app-menu></app-menu>
<table>
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="req.id" readonly></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input [(ngModel)]="req.description" type="text"></td>
        </tr>
        <tr>
            <td>Justification</td>
            <td><input [(ngModel)]="req.justification" type="text"></td>
        </tr>
        <tr>
            <td>Delivery Mode</td>
            <td><input [(ngModel)]="req.deliveryMode" type="text"></td>
        </tr>       
        <tr>
            <td>Status</td>
            <td><input [(ngModel)]="req.status" readonly ></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input [(ngModel)]="req.total" readonly ></td>
        </tr>
        <tr>
            <td>User</td>
                <td>
                    <select [(ngModel)]="req.userId">
                        <option *ngFor="let x of use" value="{{x.id}}">{{x.username}}</option>
                </select>
                </td>
            </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Save</button>
</div>
