<div id="component">
    <table>
        <tbody>
            <tr>
                <td>Quantity</td>
                <td><input [(ngModel)]="reql.quantity" type="number"></td>
            </tr>
            <tr>
                <td>Item</td>
                <td>
                    <select [(ngModel)]="reql.productId">
                        <option *ngFor="let x of prod" value="{{x.id}}">{{x.name}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="save()" class="btn btn-primary">Save</button>
    </div>
</div>
