button {
   
    color:  #595959;
    font-weight: 600;
    text-decoration : none;
    border: #595959;
}
#component {
    background-color: #D9D0C7;
    font-weight: 600;
   }
a {
    color: #F2BF5E;
    text-decoration: none;
    background-color: #595959;
    border-color: #595959;
}
#Actions {
    color: #595959;
    
}
